.form-container {
  width: 60rem;
  button.try-it {
    background-color: color(blue);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.8rem 0.2rem color(lightBlack);
    span:first-child {
      font-weight: 600;
      color: color(white);
      margin-right: 0.8rem;
    }
    span:last-child {
      color: darken(color(white), 10%);
    }
  }
  form {
    width: 100%;
    margin: 2rem 0 0;
    background-color: color(white);
    padding: 4rem;
    border-radius: 0.8rem;
    box-shadow: 0 0.8rem 0.2rem color(lightBlack);
    label {
      margin-bottom: 2rem;
      display: block;
      position: relative;
      span {
        margin-top: 0.5rem;
        display: block;
        color: color(red);
        font-style: italic;
        font-weight: 600;
        font-size: 1.3rem;
        direction: rtl;
      }
      &.invalid input {
        border: 0.2rem solid color(red);
        &:focus {
          border-color: color(red);
        }
      }
      &.invalid::before {
        content: "";
        position: absolute;
        width: 3rem;
        height: 3rem;
        right: 1rem;
        // top: 50%;
        // transform: translate(0, calc(-50% - 1rem));
        top: 20px;
        background-repeat: no-repeat;
        background-image: url(../assets/images/icon-error.svg);
      }
    }
    input {
      display: block;
      width: 100%;
      border-radius: 0.4rem;
      font-weight: 600;
      color: color(dark-blue);
      font-size: 1.6rem;
      padding: 2rem 3rem;
      padding-right: 5rem;
      border: 0.1rem solid color(grayish-blue);
      &:focus {
        border-color: color(dark-blue);
        outline: 0;
      }
      &::placeholder {
        font-family: $font-family;
        font-size: 1.6rem;
        color: lighten(color(dark-blue), 30%);
        font-weight: 600;
      }
      &.name {
        text-transform: capitalize;
      }
    }
    button.cta {
      text-transform: uppercase;
      background-color: color(green);
      color: color(white);
      box-shadow: 0 0.5rem 0.2rem lighten(color(green), 10%);
    }
    p {
      font-size: 1.2rem;
      color: color(grayish-blue);
      margin-top: 2rem;
      text-align: center;
      font-weight: 500;
      a {
        color: color(red);
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
  @media (max-width: 991px) {
    width: auto;
    margin-bottom: 4rem;
  }
  @media (max-width: 436px) {
    .try-it {
      flex-direction: column;
      span:first-child {
        margin: 0 0 0.8rem;
      }
    }
    form p {
      font-size: 1rem;
    }
  }
  @media (max-width: 360px) {
    form {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  @media (max-width: 284px) {
    form input {
      font-size: 1.5rem;
      &::placeholder {
        font-size: 1.3rem;
      }
    }
    form button {
      font-size: 1rem;
    }
  }
  @media (max-width: 260px) {
    form input {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
