main {
  display: flex;
  width: 79%;
  height: inherit;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 1441px) {
    width: 113.7rem;
  }
  @media (min-width: 992px) and (max-height: 638px) {
    height: 63.8rem;
  }
  @media (min-width: 992px) and (max-height: 708px) {
    &.expand {
      height: 75rem;
    }
  }
  @media (max-width: 991px) {
    display: block;
  }
}
