body {
  background-color: color(red);
  background-image: url("../assets/images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;
  @media (max-width: 500px) {
    background-image: url("../assets/images/bg-intro-mobile.png");
    background-position: top;
  }
}

main {
  display: flex;
  width: 79%;
  height: inherit;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 1441px) {
    width: 113.7rem;
  }
  @media (min-width: 992px) and (max-height: 638px) {
    height: 63.8rem;
  }
  @media (min-width: 992px) and (max-height: 708px) {
    &.expand {
      height: 75rem;
    }
  }
  @media (max-width: 991px) {
    display: block;
  }
}
